body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#mainContainer {
  min-width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: normal;
  background-color: #efefef;
}

#navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 0.7em 2em 2em;
  background-color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  border-bottom: 4px solid #97d3ed;
}

.cardLayout {
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  padding: 0 0.5em;
}

.navItem {
  text-decoration: none;
  padding: 0.1em 0.8em;
  letter-spacing: 2px;
  color: #aaa;
}

.navItem:hover {
  cursor: pointer;
  color: #555;
}

.navItem img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 60px;
  height: 60px;
}

.infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
  margin-top: 20px;
}

.infoContainer .leftSide {
  padding: 20px;
  background-color: white;
  width: 100%;
  margin-right: 20px;
  border: 3px solid #97d3ed;
}

.infoContainer .leftSide .selectMonthContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  height: 40px;
}

.infoContainer .leftSide .selectMonthContainer #selectMonth {
  font-size: 20px;
  border: none;
  border-bottom: 3px solid #97d3ed;
  text-align: center;
}

.infoContainer .leftSide .selectMonthContainer #year {
  font-size: 20px;
  max-width: 100px;
  border: none;
  border-bottom: 3px solid #97d3ed;
  text-align: center;
}

.infoContainer .leftSide .selectMonthContainer button {
  font-size: 20px;
  min-width: 100px;
  border: none;
  background-color: #97d3ed;
  color: white;
}

.infoContainer .leftSide .selectMonthContainer button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
}

.infoContainer .leftSide #calendar {
  height: 100%;
  width: 100%;
  margin-top: 20px;
}

.infoContainer .leftSide #calendar .week {
  border: 10px solid #97d3ed;
  margin-bottom: 60px;
}

.infoContainer .leftSide #calendar .week .weekDays, .infoContainer .leftSide #calendar .week .weekDates, .infoContainer .leftSide #calendar .week .workerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #666;
  font-size: 15px;
  font-weight: 10;
  padding: 0;
  margin: 0;
}

.infoContainer .leftSide #calendar .week .weekDays div, .infoContainer .leftSide #calendar .week .weekDates div, .infoContainer .leftSide #calendar .week .workerRow div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #97d3ed;
  padding: 10px 20px 10px 20px;
  height: 100%;
  width: 100%;
  text-align: center;
}

.infoContainer .leftSide #calendar .week .weekDays div span, .infoContainer .leftSide #calendar .week .weekDates div span, .infoContainer .leftSide #calendar .week .workerRow div span {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
}

.infoContainer .leftSide #calendar .week .weekDays div input, .infoContainer .leftSide #calendar .week .weekDates div input, .infoContainer .leftSide #calendar .week .workerRow div input {
  color: #888;
  border: none;
}

.infoContainer .leftSide #calendar .week .weekDays div .buttons, .infoContainer .leftSide #calendar .week .weekDates div .buttons, .infoContainer .leftSide #calendar .week .workerRow div .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 25px;
  border: none;
}

.infoContainer .leftSide #calendar .week .weekDays div .buttons .delete, .infoContainer .leftSide #calendar .week .weekDates div .buttons .delete, .infoContainer .leftSide #calendar .week .workerRow div .buttons .delete, .infoContainer .leftSide #calendar .week .weekDays div .buttons .update, .infoContainer .leftSide #calendar .week .weekDates div .buttons .update, .infoContainer .leftSide #calendar .week .workerRow div .buttons .update {
  border: none;
  background-color: white;
  padding: 0;
  margin: 0;
  color: #bf0a30;
  font-size: 12px;
  text-align: center;
}

.infoContainer .leftSide #calendar .week .weekDays div .buttons .delete:hover, .infoContainer .leftSide #calendar .week .weekDates div .buttons .delete:hover, .infoContainer .leftSide #calendar .week .workerRow div .buttons .delete:hover, .infoContainer .leftSide #calendar .week .weekDays div .buttons .update:hover, .infoContainer .leftSide #calendar .week .weekDates div .buttons .update:hover, .infoContainer .leftSide #calendar .week .workerRow div .buttons .update:hover {
  color: #97d3ed;
  cursor: pointer;
}

.infoContainer .leftSide #calendar .week .weekDays div .buttons .update, .infoContainer .leftSide #calendar .week .weekDates div .buttons .update, .infoContainer .leftSide #calendar .week .workerRow div .buttons .update {
  color: #00a86b;
}

.infoContainer .leftSide #calendar .week .weekDays div .add, .infoContainer .leftSide #calendar .week .weekDates div .add, .infoContainer .leftSide #calendar .week .workerRow div .add {
  border: none;
  background-color: white;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.infoContainer .leftSide #calendar .week .weekDays div .add:hover, .infoContainer .leftSide #calendar .week .weekDates div .add:hover, .infoContainer .leftSide #calendar .week .workerRow div .add:hover {
  color: #97d3ed;
  cursor: pointer;
}

.infoContainer .leftSide #calendar .week .weekDates div {
  border-bottom: 5px solid #97d3ed;
}

.infoContainer .leftSide #calendar .week .workerRow div {
  height: 100%;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #97d3ed;
}

#workerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: start;
  padding-top: 15px;
  border: 4px solid #97d3ed;
  background-color: white;
  width: 300px;
  height: 100%;
}

#workerInfo .singleWorkerInfo, #workerInfo .singleWorkerInfoActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 4px;
  width: 95%;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
}

#workerInfo .singleWorkerInfo:hover, #workerInfo .singleWorkerInfoActive:hover {
  cursor: pointer;
}

#workerInfo .singleWorkerInfo:hover .name, #workerInfo .singleWorkerInfoActive:hover .name {
  color: #97d3ed;
}

#workerInfo .singleWorkerInfo:hover .infoLine, #workerInfo .singleWorkerInfoActive:hover .infoLine {
  color: #97d3ed;
}

#workerInfo .singleWorkerInfo .infoLine, #workerInfo .singleWorkerInfoActive .infoLine {
  color: #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2px 10px;
}

#workerInfo .singleWorkerInfo .name, #workerInfo .singleWorkerInfoActive .name {
  padding-bottom: 5px;
  color: #888;
  font-weight: bold;
  text-align: center;
}

#workerInfo .singleWorkerInfoActive {
  border: 2px solid #97d3ed;
}
/*# sourceMappingURL=scheduleChanges.css.map */